{% extends "base.html" %}
{% load static %}
{% block title %}
    Password Reset Sent | Django
{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold text-center mb-8">Password Reset Sent</h1>

<p class="text-center">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
{% endblock %}
