{% extends "base.html" %}
{% load static %}
{% block title %}
    Reset Your Password | Django
{% endblock %}

{% block content %}
<h1 class="text-5xl font-bold text-center mb-8">Reset Your Password</h1>

<form method="post" action="" class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-lg">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary bg-blue-500 hover:bg-blue-600 text-white rounded-full shadow-lg transition-transform transform hover:scale-105">Reset Password</button>
        </div>
    </div>
</form>
{% endblock %}
